@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@L("required")</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    @if (IsGranted(Permissions.Home.Create))
    {
        <button class="bt btn-success">Create</button>
    }
    @if (IsGranted(Permissions.Home.Edit))
    {
        <button class="bt btn-danginfoer">Edit</button>
    }
    @if (IsGranted(Permissions.Home.Delete))
    {
        <button class="bt btn-danger">Delete</button>
    }
</div>